
/.metadata
/HelloSoftwarePassion/bin
/HelloSoftwarePassion/gen
/HelloSoftwarePassion/.classpath
/HelloSoftwarePassion/.project
/HelloSoftwarePassion/proguard.cfg
/HelloSoftwarePassion/project.properties